<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.tm.s5.user.UserDAO">

	<sql id="search">
		like '%' || #{search} || '%'	
	</sql>

	<select id="memberLogin" parameterType="UserVO" resultType="UserVO">
		select * from userInfo where id=#{id} and pwd=#{pwd}
	</select>
	
	<select id="memberList" parameterType="Pager" resultType="UserVO">
		select * from 
			(select N.*, rownum R from 
				(select * from userInfo where 
				
				<choose>
					<when test="kind == 'mid'">
						id
					</when>
					<when test="kind == 'mname'">
						name 
					</when>
					<when test="kind == 'mphone'">
						phone
					</when>
					<otherwise>
						email 
					</otherwise>
				</choose>
				
				<include refid="search"></include>  order by id desc)N) 
		where R between #{startRow} and #{lastRow}
	
	</select>
	
	<select id="memberCount" parameterType="Pager" resultType="Long">
		select count(id) from userInfo 
				
				<where>
					<if test="kind == 'mid'">
						id <include refid="search"></include>
					</if>
					<if test="kind == 'mname'">
						name <include refid="search"></include>
					</if>
					<if test="kind == 'mphone'">
						phone <include refid="search"></include>
					</if>
					<if test="kind == 'memail'">
						email <include refid="search"></include>
					</if>
				</where>
	</select>
	
	<insert id="memberJoin" parameterType="UserVO">
			insert into userInfo values(#{id},#{pwd},#{name},#{phone},#{email})
	</insert>
	

</mapper>